.maps {
	@extend %group;
	background: #F0F0F0;
	font: toem(16px) $lato;
	max-width: 960px;
	min-height: 250px;
	position: relative;
	text-align: center;
	
	h3 {
		font-weight: 600;
		letter-spacing: 0.02em;
		line-height: toem(38px, 30px);
	}
	@extend %group;
	font: toem(16px) $lato;
	padding: 30px 0 8px;
	position: relative;
	text-align: center;
	#map { 
		height: 180px;
		margin: 21px 32px;
	}
	h3 {
		margin-bottom: 47px;
	}
	.info-content {
		padding: 4px 10px 12px;
		text-align: left;
		h5 {
			font-weight: 600;
			margin-top: 20px;
		}
		p {
			line-height: toem(25px,16px);
			padding:0 51% 5px 0;
		}
	}
	.social {
		color: $lightGreen;
		display: block;
		margin: 38px 0 26px;
	}
	.brand {
		display: inline-block;
		font-size: toem(24px);
		margin-bottom: 50px;
		text-decoration: none;
		vertical-align: middle;
		width: 24%;
	}
	.icon-twitter {
			font-size: toem(30px);
	}
	.btn {
		min-width: 250px;
		font-size: toem(16px);
	}
	.big {
		font-size: toem(28px);
		line-height: toem(26px,20px);
		margin:0 40px 12px;
	}
	@include breakpoint(tablet) {
		max-width: 100%;
		min-height: 383px;
		padding: 62px 0 30px;
			.big {
				font-size: toem(51px);
				letter-spacing: -0.045em;
				margin: 15px 0 20px;
			}
			.brand {
				margin: 48px 0 46px;
				width: 9%;
			}
			.column{
				padding:0 20px 50px;
				.info-content {
					float: right;
					margin-top: 67px;
					padding-bottom: 62px;
					width: 36%;
					
					h5 {
						margin: 24px 0 0 12px;
					}
					p {
						font-size: toem(21px);
						line-height: toem(24px,16px); 
						margin-left: 12px; 
						padding: 0 16% 0 0;
					}
				}
				.social {
					border-bottom: 1px solid $lightPurple;
					float: left;
					margin-top: 52px;
					padding-left: 60px;
				}	
			}
			#map {
				display: inline-block;
				height: 264px;
				margin: 0;
				width: 64%;
			}
		}
}