.project-strip {
	@extend %group;
	font: toem(16px) $lato;
	max-width: 960px;
	height: 300px;
	position: relative;
	text-align: center;
	.wrapper {
		padding-top: 60px;
		color: $black;
		.btn {
			background: #47A617;
			min-width: 250px;
			font-size: toem(16px);
		}
		p {
			line-height: toem(46px, 30px);
			margin: 3px 5px;
		}
		blockquote {
			font: 600 toem(35px) $lato;
			line-height: toem(44px,30px);
			padding: 4px 30px 10px;		
		}
		.big {
			font-size: toem(34px);
			line-height: toem(26px,20px);
			margin:0 40px 12px;
		}
	}
	
	@include breakpoint(tablet) {
		max-width: 100%;
		max-height: 250px;
		.wrapper {
			padding: 30px;
			.big {
				font-size: toem(51px);
				letter-spacing: -0.045em;
				margin: 15px 0 20px;
			}
			blockquote {
				padding-top: 20px;
			}
		}
	}
	@include breakpoint(desktop) {
		.wrapper {
			max-width: 1000px;
			.big {
				margin: 4px 0 0;
			}
			.btn {
				margin-top: 30px;
			}
		}
	}			
}