.text-strip {
	background: #47A617;
	color: $white;
	@extend %group;
	font: toem(16px) $lato;
	max-width: 960px;
	min-height: 250px;
	position: relative;
	text-align: center;
	.wrapper {
		@extend %group;
		padding: 28px 10px 82px 10px;
		
		h3 {
			margin-bottom: 30px;
		}
		p {
			line-height: toem(46px, 30px);
			margin: 3px 5px;
		}
		blockquote {
			font: 600 toem(35px) $lato;
			line-height: toem(44px,30px);
			padding: 4px 30px 10px;		
		}
		&:after, &:before{
	        background: $txstGold;
			display: inline-block;
			left: 50%;
			position: absolute;
			width: 2px;
		}
	}
	@include breakpoint(tablet) {
		max-width: 100%;
		min-height: 200px;
		.wrapper {
			padding: 38px 20px 88px;
			
			h3 {
				font-size: toem(16px);
				letter-spacing: 0.06em;
				line-height: toem(60px, 50px);
				padding-bottom: 44px;
			}
			p {
				letter-spacing: 0.02em;
			    margin: 0 22px;
			    text-indent: 10px;
			}
			blockquote {
				font:toem(32px) $lato;
				margin: 8px 30px 22px;
			}
		}
	}
	@include breakpoint(desktop) {
		min-height: 300px;
		.wrapper {
			margin: 38px 280px 50px 280px
			h3 {
				line-height: toem(70px, 60px);
			}
			p{
				margin: 0 110px;
				text-indent: 0;
			}
			blockquote {
				font: toem(46px) $lato;
				margin: 8px 0 22px;
			}
		}
	}
}